<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IListener" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10001/becharming" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IListener" contract="BeCharming.Common.Service.IListener"
                name="BasicHttpBinding_IListener" />
        </client>
    </system.serviceModel>
</configuration>