<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="bad231db-df88-4461-9ad0-0ed76446c718" Publisher="CN=Tomas" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BeCharming</DisplayName>
    <PublisherDisplayName>Tomas McGuinness</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BeCharming.Metro.App">
      <VisualElements DisplayName="BeCharming" Logo="Assets\Be-Charming-Icon-150.png" SmallLogo="Assets\Be-Charming-Icon-Small.png" Description="Easily share data to other machines on your network using the Share charm." ForegroundText="light" BackgroundColor="#E44E1B">
        <DefaultTile ShowName="logoOnly" ShortName="BeCharming" />
        <SplashScreen Image="Assets\Be-Charming-Icon-Splash.png" BackgroundColor="#E44E1B" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
            <DataFormat>Bitmap</DataFormat>
            <DataFormat>URI</DataFormat>
            <DataFormat>Text</DataFormat>
            <DataFormat>HTML</DataFormat>
            <DataFormat>StorageItems</DataFormat>
            <DataFormat>RTF</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>